# App
APP_PORT=8080
APP_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=pulse
DB_PASSWORD=
DB_NAME=pulse_dev

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRY=15
JWT_REFRESH_EXPIRY=43200

# AWS SES
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=